@{
    ViewBag.Title = "Home Page";
}

<style>
#div_hover{
  background-color: #00F00000;
}

#div_hover:hover {
  background: linear-gradient(
        45deg,
        hsla(168, 85%, 52%, 0.5),
        hsla(263, 88%, 45%, 0.5) 100%
      );
}
</style>

<div class="jumbotron">
    <h1>Student Information System (SIS)</h1>
    <p class="lead">SIS is an application to manage assigning students, instructors, and TAs to courses.</p>


</div>


<div class="column">
    <div class="col-md-4" id="div_hover">
        <h2>@Html.ActionLink("Courses", "Index", "Courses", new {style="text-decoration:none;"})</h2>
        <p>Courses Basic Information.</p>
    </div>

    <div class="col-md-4" id="div_hover">
        <h2>@Html.ActionLink("Departments", "Index", "Departments", new {style="text-decoration:none;"})</h2>
        <p>Departments Basic Information.</p>
    </div>

    <div class="col-md-4" id="div_hover">
        <h2>@Html.ActionLink("Instructors", "Index", "Instructors", new {style="text-decoration:none;"})</h2>
        <p>Instructors Basic Information.</p>
    </div>

    <div class="col-md-4" id="div_hover">
        <h2>@Html.ActionLink("Registrations", "Index", "Registrations", new {style="text-decoration:none;"})</h2>
        <p>Registrations Basic Information.</p>
    </div>

    <div class="col-md-4" id="div_hover">
        <h2>@Html.ActionLink("Students", "Index", "Students", new {style="text-decoration:none;"})</h2>
        <p>Students Basic Information.</p>
    </div>

    <div class="col-md-4" id="div_hover">
        <h2>@Html.ActionLink("Study Terms", "Index", "StudyTerms", new {style="text-decoration:none;"})</h2>
        <p>Study Terms Basic Information.</p>
    </div>

    <div class="col-md-4" id="div_hover">
        <h2>@Html.ActionLink("TA Assignments", "Index", "TAAssignments", new {style="text-decoration:none;"})</h2>
        <p>TA Assignments Basic Information.</p>
    </div>

    <div class="col-md-4" id="div_hover">
        <h2>@Html.ActionLink("TA Graders", "Index", "TAGraders", new {style="text-decoration:none;"})</h2>
        <p>TA Graders Basic Information.</p>
    </div>

    <div class="col-md-4" id="div_hover">
        <h2>@Html.ActionLink("Teaching Assignments", "Index", "TeachingAssignments", new {style="text-decoration:none;"})</h2>
        <p>Teaching Assignments Basic Information.</p>
    </div>


</div>
